:root{
    --skin-color: #006994;
    --mainBgColor: rgb(238, 238, 238);
    --boxShadow: 7px 10px 12px #f0f0f000;
    --insetShadow: inset 2px 2px 4px rgba(0,0,0,0.1);
    --mainGrey: #666666;
}
body{
    font-family: sans-serif;
    background:var(--mainBgColor);
    overflow-x: hidden;
}
.section-card{
    width:100%;
    background:#fff;
    box-shadow:var(--boxShadow);
    border-radius:10px;
}
/* navbar start */
.notif{
    color:var(--skin-color);
}
.theme{
    background: var(--skin-color);
}
/* navbar end */

/* main content start */
.main-content{
    width:85vw;
    margin:3rem auto;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-gap:0.7rem;
    grid-row-gap:0.7rem;
    position:relative;
}
.profile-dashboard,
.left-section{
    display:grid;
    grid-column: 1 / 4;
    grid-row-gap:0.7rem;
}
@media(max-width:768px){
    .main-content{
        width:100vw;
        grid-template-columns: 1fr;
        margin:0 auto;
    }
    .profile-dashboard{
        grid-row-gap: 1rem;
    }
    .profile-sidebar{
        grid-column: span 3;
    }
    .section-card{
        width:100%;
        background:#fff;
        box-shadow:var(--boxShadow);
        border-radius:0px;
    }
}
/* profile info start */
.img-container{
    height:60%;
}
.cover-pic{
    width:100%;
    background:url("../assets/slider/PORT.png") center / cover no-repeat;
    height:200px;
    border-radius:10px 10px 0 0;
    position:relative;
}
.cover-edit-btn,
.avatar-edit-btn{
    cursor: pointer;
    color:var(--skin-color);
    transition:0.3s;
}
.cover-edit-btn i{
    position:absolute;
    top:10px;
    right:20px;
    background:#fff;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}
.avatar-edit-btn i{
    position:absolute;
    right:20px;
    bottom:40px;
}
.avatar{
    position:relative;
}
.cover-edit-btn:hover{
    box-shadow:var(--boxShadow);
}
.avatar-pic{
    position:relative;
    display:block;
    margin:-6rem 1rem 1rem;
}
.avatar-img{
    width:150px;
    height:150px;
    border:3px solid rgb(219, 219, 219);
    border-radius:50%;
    background:#fff;
    box-shadow:var(--insetShadow);
}
.avatar-title{
    margin-top:-1rem;
}
.avatar-title h4{
    font-size:1.5rem;
    text-transform:capitalize;
    text-align:left;
    font-weight:700;
}
.avatar-title .location{
    color:var(--mainGrey);
    display:inline;
}
.avatar-title div{
    width:2px;
    height:2px;
    background-color:var(--skin-color);
    display:inline-block;
    transform:translateY(-4px);
}
.avatar-title .contact-toggle{
    color:var(--skin-color);
    cursor:pointer;
}
.avatar-title .contact-toggle:hover{
    text-decoration:underline;
}
.modal{
    margin:10% auto;
    border-radius:10px;
    width:30%;
}
.modal-content h4{
    font-size:2rem;
    text-transform: capitalize;
}
div.divider{
    height:2px;
    width:98%;
    background:var(--skin-color);
    margin:0 auto;
}
.modal-content h6{
    font-size:1.2rem;
    text-transform: capitalize;
}
.modal-content i{
    color:var(--skin-color);
    cursor:pointer;
}
.modal-content .contact-edit{
    display:flex;
    justify-content: space-between;
    padding:0.2rem 1rem 0 0;
}
.contact-list li{
    display:flex;
    align-items: flex-start;
    column-gap: 1.4rem;
    line-height:1.4;
}
.contact-list .contact-detail{
    margin:-1.1rem 0 0 -1.1rem;
}
.contact-list .contact-detail h5{
    font-size:1.4rem;
}
.contact-list .contact-detail p{
    margin-top:-10px;
}
.about-user{
    margin-top:-2rem;
    padding:1rem;
}
.about-user h4{
    font-size:1.2rem;
}
.about-user p{
    color:var(--mainGrey);
}
@media (max-width:768px){
    .modal{
        width:80%;
    }
    .cover-pic{
        border-radius:0px;
    }
    .avatar-img{
        position:relative;
        left:50%;
        transform:translateX(-50%);
    }
}
/* profile info end */

/* your dashboard section start */
.user-dashboard-section{
    background:var(--skin-color);
    color:#fff;
    padding: 1rem;
}
.user-dashboard-section h1{
    font-size:2rem;
    display:inline;
}
.user-dashboard-section p{
    margin:-0.5rem 0.5rem;
    font-style:italic;
}
.article-count{
    color:black;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    margin:1rem auto;
}
.article-count .article-col{
    display:inline-block;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.article-count .article-col.col-1{
    border-right: 1px solid var(--skin-color);
}
.article-count .article-col.col-2{
    border-right: 1px solid var(--skin-color);
}
.article-count .article-col span{
    font-size:2.2rem;
    color:var(--skin-color);
}
.article-count .article-col a{
    text-transform: capitalize;
    cursor: pointer;
    color:black;
}
.article-count .article-col a:hover{
    color:var(--skin-color);
    text-decoration: underline;
}
/* your dashboard section end */

/* overview start */
.overview-section{
    padding: 0 1.5rem;
}
.overview-section h3{
    font-size:1.3rem;
    font-weight:600;
}
.overview-section .extra-overview h6{
    font-size:1rem;
    font-weight:600
}
.overview-section .extra-overview a{
    text-decoration: none;
    color:var(--skin-color);
}
.overview-section .extra-overview p{
    font-size:0.9rem;
    text-transform: capitalize;
}
/* overview end */

/* recent job start */
.recent-jobs{
    padding:0 1.6rem;
}
.recent-jobs h1{
    font-size:1.6rem;
    font-weight:600;
}
.recent-jobs .recent-job-box{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap:1rem;
    grid-row-gap:1rem;
    margin-bottom:1.5rem;
}

/* recent job end */

/* profile sidebar start */
.profile-sidebar{
    grid-row-gap:0.7rem;
}
.job-poster a{
    display:block;
    padding:0.5rem 0.7rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;    
}
.job-poster h5{
    font-size:1rem;
    text-align:left;
    color: var(--skin-color);
}
.job-poster i{
    color:var(--skin-color);
}
.featured-employers,
.dashboard-tabs{
    padding-bottom:1rem;
}
.featured-employers h5{
    font-size:1.1rem;
    padding:1rem;
    font-weight:500;
}
.company-connect{
    display:flex;
    align-items: flex-start;
    column-gap: 1.4rem;
    margin:0.7rem 1.2rem;
}
.company-connect .company-logo{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.company-connect .company-connect-data{
    margin:-1.1rem 0 0 -1.1rem;
}
.company-connect .company-connect-data h6{
    font-size:1.1rem;
    font-weight:600;
    text-transform: capitalize;
}
.company-connect .company-connect-data .connect-location{
    margin-top:-10px;
    color:var(--mainGrey);
}
.featured-employers .divider{
    width:90%;
    height:1px;
}
@media (max-width:768px){
    .profile-sidebar{
        display:none;
    }
    .company-connect{
        column-gap: 3rem;
    }
    .company-connect .company-connect-data{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 0;
        position:relative;
        right:0;
    }
    .company-connect .company-connect-data .detail-container{
        grid-column: 1 / 3;
    }
    .company-connect .company-connect-data .connect-btn{
        height:50%;
    }
}

/* Tab Menu Start */
.dashboard-tabs{
    padding:0.5rem 0;
    margin:0.7rem 0;
}
.dashboard-tabs .tab-menu{
    display:flex;
    align-items: center;
    color:var(--skin-color);
    text-decoration: none;
    text-transform: capitalize;
    padding-left:0.5rem;
}
.dashboard-tabs .tab-menu i{
    margin-right:1.5rem;
}
.dashboard-tabs .divider{
    height:1px;
    width:100%;
    background:rgb(236, 236, 236);
}
/* Tab Menu End */

/* New Job Poster start */
.job-upload-form form{
    padding:1rem;
}
.job-upload-form form h1{
    font-size:1.6rem;
    display:inline;
    padding: 0.5rem;
    line-height:2;
    font-weight:500;
    text-transform:capitalize;
}
.exp-field{
    margin-right:10px;
}
.job-upload-form form .job-form-field{
    padding:0.5rem;
    position:relative;
}
.job-upload-form form .job-form-field label{
    font-size:1rem;
    color:black;
    user-select:none;
    text-transform: capitalize;
}
.job-upload-form form .job-form-field input,
.job-upload-form form .job-form-field select,
.job-upload-form form .job-form-field textarea{
    border:1px solid grey;
    width:100%;
    border-radius:10px;
    outline:none;
    padding-bottom:0;
    resize:vertical;
}
.chips{
    border:none;
    outline:none;
}
.no-effect-label{
    transform:translateY(0);
    position:static;
    top:0;
}
.job-upload-form form .job-form-field input:focus{
    border-bottom:1px solid var(--skin-color)!important;
}
.file-field{
    padding-top:15px;
}
.select-field{
    position:absolute;
    bottom:-24px;
    left:10px;
    transition:0.3s;
}
.select-label{
    transform:translateY(-24px);
}
label span{
    font-size:0.7rem;
    color:var(--mainGrey);
    font-style:italic;
}
.single-row-form{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-row-gap:1.2rem;
}
input[type=datetime-local]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=datetime-local]:focus::-webkit-datetime-edit {
    color: black !important;
}
select{
    display:block;
    outline:none;
    border:none;
    border-bottom:1px solid var(--mainGrey);
}
select:focus{
    border:none;
}
.salary-div{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    transition:0.3s;
}
.qualification-div{
    padding-top:20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-row-gap:1.2rem;
}
input[type="checkbox"] ~ span{
    color:black;
    display:inline
}
.check{
    display:block;
}
.hide-block{
    transition:0.3s;
    display:none;
}
.submit-btn{
    background-color:var(--skin-color);
    width:100%;
    border-radius:20px;
}
.file-field .btn{
    background:var(--skin-color);
    border-radius:10px;
}
.file-field .btn:hover{
    background:rgb(10, 153, 153);
}
@media(max-width:586px){
    .sector-field{
        transform: translateY(-30px);
    }
    .type-field{
        transform:translateY(20px);
    }
}
@media(max-width:768px){
    .job-upload-form{
        margin:1rem;
        width:90%;
        border-radius: 10px;
    }
    .select-field{
        position:static;
        top:0;
        left:0;
        transition:0.3s;
    }
    .sector-field{
        transform:translateY(20px);
    }
    .select-label{
        transform:translateY(10px);
    }
    .file-field{
        padding-top:0;
    }
    .exp-field{
        margin-right:0;
    }
}
@media(max-width:1200px){
    .select-label{
        transform:translateY(-30px);
    }
    .single-row-form{
        grid-row-gap:0.7rem;
    }
    .skill-field{
        transform:translateY(20px);
    }
    .submit-btn{
        margin-top:2rem;
    }
}@media(max-width:832px){
    .select-label{
        transform:translateY(-18px);
    }
}
/* New Job Poster end */
/* profile sidebar end */
/* main content end */