@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

body {
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(238, 238, 238);
}
.theme{
    background: #006994;
}
.loginbtn{
    color: black;
    border: 3px solid #006994;
    padding: 5px 30px;
    border-radius: 20px;
    font-weight: 700;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    width: 150px;
    margin: 10px 10px 30px 10px;
}
.flexcontainer{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row;
    overflow-x: scroll;
}
.flexcontainer2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-x: hidden;
}
.flexcontainer::-webkit-scrollbar {
      width: 10px;
      height: 7px;
    }
    .flexcontainer::-webkit-scrollbar-thumb {
      background: #006a94;
      border-radius: 10px;
      /* width: 2px;/ */
    }
    .flexcontainer::-webkit-scrollbar-thumb:hover {
      background: #005070;
      width: 10px;
    }
    .flexcontainer::-webkit-scrollbar-track {
      background: #ffffff00;
      border-radius: 10px;
      box-shadow: inset 7px 10px 12px #f0f0f000;
    }
  
    ::-webkit-scrollbar {
      width: 13px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      /* box-shadow: inset 0 0 5px grey;  */
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #006994; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #005070; 
    }

.cardbox{
  padding: 30px;
  border-radius: 20px;
}
.jobbox{
  /* width: 50%; */
  padding: 5px;
  border-radius: 20px;
  /* margin-right: 20px; */
  background: white;
}
.title{
  font-size: 25px;
}
.text{
  font-size: 15px;
}
.text2{
  font-size:12px;
}
.jobtype{
  padding:5px 20px;
  border-radius: 20px;
  background: rgb(218, 218, 218);
}
.cmpimg{
  height: 40px;
}
@media only screen and (max-width : 992px) {
  .title{
    font-size: 20px;
  }
  .text{
    font-size: 12px;
  }
  .text2{
    font-size: 10px;
  }
  .jobbox{
    padding: 5px;
    margin-top: 10px;
  }
  .companyname{
    font-size: 15px;
  }
}
@media only screen and (max-width : 300px) {
  .title{
    font-size: 15px;
  }
  .text{
    font-size: 10px;
  }
  .text2{
    font-size: 7px;
  }
  .jobbox{
    padding: 3px;
    margin-top: 5px;
  }
  .companyname{
    font-size: 13px;
  }
  .cmpimg{
    height: 30px;
  }
}
@media only screen and (min-width : 1280px) {
  .self-contain{
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
#sortsec{
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 5px rgba(43, 43, 43, 0.308);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 80px;
  /* height: 100vh; */
  width: 300px;
  /* z-index: 999; */
}
#sort{
  /* padding: 15px 15px 1px 15px; */
  background: #006994;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
